var/
vendor/
.env
.env.local
.env.*.local
.git/
.gitignore
node_modules/
tests/
.phpunit.cache/
phpunit.xml
.editorconfig
README.md
compose.yaml
compose.override.yaml
kubernetes.yaml
Dockerfile
.dockerignore
